<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xdy.dao.StuDao">

	<resultMap type="Stu" id="stuMap">
		<id property="sid" column="sid"/>
		<result property="sname" column="sname"/>
		<association property="cla" javaType="Cla">
			<id property="cid" column="cid"/>
			<result property="cname" column="cname"/>
		</association>
	</resultMap>
	
	<select id="list" resultMap="stuMap">
		select * from stu join cla on stu.cid=cla.cid
	</select>
		
		<select id="clalist" resultType="Cla">
			select * from cla
		</select>
		<insert id="add">
			insert into stu values(null,#{sname},#{cla.cid})
		</insert>
</mapper> 